div{
    height: 200px;
    width: 200px;
    background-color: mediumorchid;
}
div:hover{
    background-color: lightblue;
    transform: rotate(50deg);
    transform: scale(0.5);
    transform: translate(20px, 30px);
    transform: skew(30deg);
}